<div>
  <div class="mat-title">Text in "mat-icon" tag must corresponds to an icon </div>
  <p>
    <a href="https://fonts.google.com/icons?selected=Material+Icons">https://fonts.google.com/icons?selected=Material+Icons</a>
  </p>
  <br>
  <div class="mat-title">"mat-icon" tag with "grade" & "menu" icon</div>
  <mat-icon>grade</mat-icon><mat-icon>menu</mat-icon>
  <div class="mat-title">Icons with colors (color=""): primary / accent / warn</div>
  <mat-icon color="primary">print</mat-icon>
  <mat-icon color="accent">print</mat-icon>
  <mat-icon color="warn">print</mat-icon>
</div>
