<div>
  <div class="mat-headline">Basic toolbar with color attribute</div>
  <!-- Toolbar code -->
  <mat-toolbar color="primary">
    <span>Codevolution</span>
  </mat-toolbar>
</div>
<br>
<div>
  <div class="mat-headline">Using toolbar for navigation</div>
  <!-- Toolbar code -->
  <mat-toolbar color="primary" class="navbar">
    <div>Codevolution</div>
    <!-- using css for spacing-->
    <div>
      <span>Home</span>
      <span>About</span>
      <span>Services</span>
    </div>
  </mat-toolbar>
</div>
