<div>
  <div class="mat-headline">- Buttons Classic variations</div>
  <button mat-button>mat-button</button>
  <button mat-raised-button>mat-raised-button</button>
  <button mat-flat-button>mat-flat-button</button>
  <button mat-stroked-button>mat-stroked-button</button>
</div>
<br>
<div>
  <div class="mat-headline">- Buttons Circle variations</div>
  <div class="mat-title">mat-icon-button // mat-fab // mat-mini-fab </div>
  <button mat-icon-button>Click</button>
  <button mat-fab>Click</button>
  <button mat-mini-fab>Click</button>
</div>
<br>
<div>
  <div class="mat-headline">- Button colors</div>
  <div class="mat-title">mat-button</div>
  <button color="primary" mat-button>Click</button>
  <button color="accent" mat-button>Click</button>
  <button color="warn" mat-button>Click</button>
  <div class="mat-title">mat-raised-button</div>
  <button color="primary" mat-raised-button>Click</button>
  <button color="accent" mat-raised-button>Click</button>
  <button color="warn" mat-raised-button>Click</button>
</div>
<br>
<div>
  <div class="mat-headline">- Disable Ripple</div>
  <button color="warn" disableRipple mat-raised-button>Click</button>
</div>
