<mat-button-toggle #toggleTypo>1 - Typography</mat-button-toggle>
<app-typography *ngIf="toggleTypo.checked"></app-typography>
<br>

<mat-button-toggle #toggleButtons>2 - Button Element</mat-button-toggle>
<app-buttons *ngIf="toggleButtons.checked"></app-buttons>
<br>

<mat-button-toggle #toggleToggle>3 - Button Toggle (On / Off)</mat-button-toggle>
<app-button-toggle *ngIf="toggleToggle.checked"></app-button-toggle>
<br>

<mat-button-toggle #toggleIcons>4 - Icons</mat-button-toggle>
<app-icons *ngIf="toggleIcons.checked"></app-icons>
<br>

<mat-button-toggle #toggleBadges>5 - Badges</mat-button-toggle>
<app-badges *ngIf="toggleBadges.checked"></app-badges>
<br>

<mat-button-toggle #toggleSpinner>6 - Progress Spinner</mat-button-toggle>
<app-progress-spinner *ngIf="toggleSpinner.checked"></app-progress-spinner>
<br>

<mat-button-toggle #toggleToolbar>7 - Toolbar</mat-button-toggle>
<app-toolbar *ngIf="toggleToolbar.checked"></app-toolbar>
<br>

<mat-button-toggle #toggleSidenav>8 - Sidenav</mat-button-toggle>
<app-sidenav *ngIf="toggleSidenav.checked"></app-sidenav>
<br>

<mat-button-toggle #toggleMenus>9 - Menus</mat-button-toggle>
<app-menus *ngIf="toggleMenus.checked"></app-menus>
<br>

<mat-button-toggle #toggleLists>10 - Lists</mat-button-toggle>
<app-lists *ngIf="toggleLists.checked"></app-lists>
<br>

<mat-button-toggle #toggleGrids>11 - Grids</mat-button-toggle>
<app-grids *ngIf="toggleGrids.checked"></app-grids>
<br>

<mat-button-toggle #toggleExpansion checked>12 - Expansion Panel</mat-button-toggle>
<app-expansion-panel *ngIf="toggleExpansion.checked"></app-expansion-panel>
