<div>
  <div class="mat-headline">Basic sidenav with 3 components</div>
  <!-- Toolbar code -->
  <mat-sidenav-container>
    <mat-sidenav opened>Sidenav</mat-sidenav>
    <mat-sidenav-content>
      <!-- Content of the website -->
      <p>mat-sidenav-container : access a container
        <br>mat-sidenav : represent the side content
        <br>mat-sidenav-content : represent the content</p>

      <p>Sidenav always hidden by default. Can use the opened attribute on mat-sidenav component</p>
      <p>Some styling are necessary to have à good render : see css</p>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
